//Home page component .

.welcome-message {
  text-align: center;
  color: green;
}

h1{
    text-align: center;
}

 button {
    text-align: center;
    color: green;
    text-decoration: none;
}

.home-message{
  text-align: center;
  color: green;
}


.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .quiz-btn-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .quiz-btn-centered:hover {
    background-color: #0056b3;
  }
  
  .quiz-btn-centered li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .quiz-btn-centered li::before {
    content: "▶";
    margin-right: 5px;
  }
  
  .quiz-btn-centered li:first-child::before {
    content: "";
  }

