//Home page component .
// @font-face {
//   font-family: 'netflix';
//   src: url('/client/styles/NetflixSans-Bold.otf') format('opentype');
// }


// Regular Font Weight
@font-face {
  font-family: 'netflix';
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}


// Medium Font Weight
@font-face {
  font-family: 'netflix';
  font-weight: 700;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

// Bold Font Weight
@font-face {
  font-family: 'netflix';
  font-weight: 800;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

// Extra Bold Font Weight
@font-face {
  font-family: 'netflix';
  font-weight: 900;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

.welcome-message {
  text-align: center;
  color: green;
}

h1 {
  text-align: center;
}

// button {
//   text-align: center;
//   color: green;
//   text-decoration: none;
// }

.home-message {
  text-align: center;
  color: green;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}


html,
body {
  height: 100%;
  margin: 0;
  background-image: url('/imgs/Aura-neon-background.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: netflix;
  color: white;
}

//background-image: url('https://w0.peakpx.com/wallpaper/946/437/HD-wallpaper-neon-gradient-minimalist.jpg');

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 // height: 45%;
  //margin-bottom: 50px;
}



.neon {
  font-family: neon;
  color: #fb4264;
  font-size: 8vw;
  line-height: 7vw;
  text-shadow: 0 0 3vw #f40a35;
  z-index: 2;
  margin-top: 20px;
  // margin-right: 50px;
}

.flux {
  font-family: neon;
  color: #426dfb;
  font-size: 8vw;
  line-height: 7vw;
  text-shadow: 0 0 3vw #2356ff;
  z-index: 2;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

/* background-image: url('https://thumbs.gfycat.com/HomelyBewitchedItaliangreyhound-size_restricted.gif'); */
/* background-image: url('https://i.makeagif.com/media/1-12-2021/izAv5U.gif'); */


.three-d-parent {
  margin-top: -250px;
  z-index: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

button {
  padding: 25px 30px;
  background-color: #050801;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  letter-spacing: 0.2rem;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  z-index: 2;
  margin-top: 20px;
}

button:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}



.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  

}

.form-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

#quiz-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: -20;
}

#quiz-form {
  background-color: #bdcad9;
  background-image: linear-gradient(to right, rgb(15, 15, 112), rgb(152, 4, 61));
  // background-color: #ffffff;
  // background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  //  background: rgba(255, 255, 255, 0.67);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(19.9px);
   -webkit-backdrop-filter: blur(19.9px);
   opacity: 1.5;
   border: 1px solid rgba(0, 0, 0, 0.99);
   padding: 20px;
   color: whitesmoke
}

.quiz-section {
  margin-bottom: 20px;
}

.quiz-question {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
}

.quiz-label {
  display: block;
  margin-bottom: 10px;
  margin-top: 2em;
  margin-left:1em
}

.quiz-input {
  margin-right: 5px;
}

.quiz-button {
  padding: 25px 30px;
  background-color: #050801;
  color:white;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  
}

.quiz-button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}


.quiz-submit {
  padding: 25px 30px;
  background-color: #050801;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 3px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  z-index: 2;
  margin-top: 20px;
}

.quiz-submit:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}


.multi-colored-border {
  position: relative;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.multi-colored-border:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(to right, rgb(15, 15, 112), rgb(152, 4, 4));
  border-radius: 16px;
}


// Radio Button Styling
input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  color: red;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em groove red;
  border-radius: 25%;
  transform: translateY(0.155em) translateX(-0.5em);
  transition: opacity 0.1s, background-color 0.1s;
}

input[type="radio"]:hover {
opacity: 0.5;
background-color: silver;
}


input[type="radio"]:checked {
  background-color: rgb(0, 0, 0);
  opacity: 1;

}

input[type="radio"]:checked::before {
  transform: scale(1);
}



input[type="radio"]:focus {
  outline: max(2px, 0.15em) groove currentColor;
  outline-offset: max(2px, 0.15em);
}

///// PETS /////

.progress-bar {
  width: 10rem;
  height: 1rem;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 1s linear;
}

.pet-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.pet-container img {
  max-width: 50vw;
  height:20rem
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.needs-button {
  background-color: #032d30;
  padding: 1rem 1rem 1rem 1rem;
  margin-right: 0.5rem;
  border-radius: 20px;
}

.timers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}

.timer {
  // margin-bottom: 10px;
  margin: 1rem
}

h3 {
  margin-bottom: 0.25rem;
}

// RESULT PAGE SCSS
.h1RESbox {
  display: grid;
  place-items: center;
  height: 100vh;
  // font-family: zen tokyo zoo;
  text-align: center;
}

.h1RESbox h1 {
  font-size: 70px;
  text-transform: uppercase;
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent,
  0 0 10px #ff003c,
  0 0 20px rgba(255, 0, 60, 0.5),
  0 0 40px #ff003c,
  0 0 100px #ff003c,
  0 0 200px #ff003c,
  0 0 300px #ff003c,
  0 0 500px #ff003c,
  0 0 1000px #ff003c;
  animation: animate 3s infinite alternate;
}

@keyframes animate {
  40% {
    opacity: 1;
    }
    42% {
      opacity: 0.5;
     }
    
    
    40% {
    opacity: 1;
    }
    40%{
    opacity: 1;
    }
    40% {
    
    opacity: 1;
    }
    
}

.h2RES {
  background: linear-gradient(90deg, #00dbde, #fc00ff);
   text-transform: uppercase;
   //color: white;
   text-shadow: 1px 1px 2px #00dbde, 0 0 1em blue, 0 0 0.2em black;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  font-size: 70px;
  padding: 25px, 40px;
  margin-top: -50px;
}
